<div class="card">
  <div class="card-header">
    <h5 class="card-title">Live Feed</h5>
    <h6 class="card-subtitle text-muted">
      Data gets automatically updated after every few seconds. Table should
      maintain the sort order and scroll position on the table
    </h6>

    <h6 class="card-subtitle text-muted mt-2">
      Data feed should also not impact the filtered results.
      <button
        *ngIf="isPlaying"
        class="btn btn-danger"
        (click)="unsubscribeToFeed()"
      >
        Stop Feed
      </button>
      <button
        *ngIf="!isPlaying"
        class="btn btn-success"
        (click)="subscribeToFeed()"
      >
        Start Feed
      </button>
      <button class="ml-4 btn btn-primary" (click)="shuffleData()">
        Force to Shuffle Data
      </button>
    </h6>
  </div>
  <eztable *ngIf="userData" class="bg-primary p-2" [data]="userData"> </eztable>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Website</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of userData">
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.name }}</td>
        <td>{{ item.username }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.phone }}</td>
        <td>{{ item.website }}</td>
      </tr>
    </tbody>
  </table>
  <!-- <div *ngIf="!userData" class="bg-dark text-light">Warning</div> -->
  <!-- <eztable
    class="bg-primary p-2"
    [data]="userData"
    enableSearch="true"
    enableSelection="true"
    heightVal="150px"
  >
  </eztable> -->
</div>
