<nav
  class="navbar fixed-top navbar-light bg-green text-light justify-content-between"
>
  <a class="navbar-brand text-light" href="#">
    <img
      src="assets/eztable-icon.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt="EzTable"
    />
    <span class="ml-3"> <b>EzTable</b> - Angular smart table plugin </span>
  </a>

  <div class="flex">
    <form class="form-inline">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button> -->
    </form>
    <div class="flex mt-8">
      <a class="text-light mx-2 mt-8 cursor-pointer" [routerLink]="['/']"
        >Home</a
      >
      <a class="text-light mx-2" [routerLink]="['/docs']">Docs</a>
      <a class="text-light mx-2" [routerLink]="['/demos']">Demos</a>
      <a
        class="text-light mx-2"
        href="https://github.com/CodeSnooker/eztable"
        target="_blank"
      >
        Github
      </a>
    </div>
  </div>
</nav>
