<div class="card">
  <div class="card-header">
    <h5 class="card-title">15. EzTable - Enable Search Filter</h5>
    <h6 class="card-subtitle text-muted">
      You can use <code>enableSearch</code> to enable search filters on the
      data. Use <code>searchPlaceholder</code> to set the placeholder value in
      search box table.
    </h6>
  </div>
  <div class="card-body bg-primary">
    <eztable
      class="bg-primary table-striped"
      [data]="userData"
      enableSearch="true"
      height="300"
      searchPlaceholder="You can search by name, birthday or phone number"
    >
    </eztable>
  </div>
</div>
