<div class="card">
  <div class="card-header">
    <h5 class="card-title">1. EzTable - Intro</h5>
    <h6 class="card-subtitle text-muted">
      Use
      <code>&lt;eztable [data]="myJSONArray"&gt; &lt;/eztable&gt;</code>
      to create bootstrap table and provide
      <i>(array of json data) </i> <code>data</code> to automatically create the
      headers and rows.
    </h6>

    <h6 class="card-subtitle text-muted mt-2">
      Sort feature is smart enough to detect difference among number, string or
      date object.
    </h6>
  </div>
  <eztable
    class="bg-primary p-2"
    [data]="userData"
    enableSearch="true"
    enableSelection="true"
  >
  </eztable>
</div>
