<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <app-searchable-table></app-searchable-table>
    </div>
  </div>
</div> -->

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <br />
      <h3>EzTable</h3>
      <h5 class="text-muted">Dynamic Table Component</h5>
      <hr />
    </div>
  </div>

  <!-- 1. Table-->
  <!-- 2. Custom Headers -->
  <div class="row">
    <div class="col-sm-6">
      <app-intro></app-intro>
    </div>
    <div class="col-sm-6">
      <app-custom-headers></app-custom-headers>
    </div>
  </div>

  <!-- 3. Striped Rows -->
  <!-- 4. Condensed Table -->
  <div class="row">
    <div class="col-sm-6">
      <app-striped-rows></app-striped-rows>
    </div>
    <div class="col-sm-6">
      <app-condensed-table></app-condensed-table>
    </div>
  </div>

  <!-- 5. Hovered Table -->
  <!-- 6. Bordered Table -->
  <div class="row">
    <div class="col-sm-6">
      <app-hoverable-table></app-hoverable-table>
    </div>
    <div class="col-sm-6">
      <app-bordered-table></app-bordered-table>
    </div>
  </div>

  <!-- 7. Responsive Table -->
  <div class="row">
    <div class="col-sm-12">
      <app-always-responsive-table></app-always-responsive-table>
    </div>
  </div>

  <!-- 8. Sortable Table -->
  <!-- 9. Custom Row Component (As external component class) -->
  <div class="row">
    <div class="col-sm-6">
      <app-custom-row-component></app-custom-row-component>
    </div>
    <div class="col-sm-6">
      <app-sortable-table></app-sortable-table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <app-disable-sorting></app-disable-sorting>
    </div>
    <div class="col-sm-6">
      <app-pre-sorted></app-pre-sorted>
    </div>
    <div class="col-sm-6">
      <app-pre-sorted-using-table-column></app-pre-sorted-using-table-column>
    </div>
    <div class="col-sm-6">
      <app-disable-sort-on-column></app-disable-sort-on-column>
    </div>
    <div class="col-sm-6">
      <app-disable-sort-with-pre-sort-column></app-disable-sort-with-pre-sort-column>
    </div>
    <div class="col-sm-12">
      <app-searchable-table></app-searchable-table>
    </div>
  </div>
  <!-- 10. Pagination -->
  <!-- 11. Export data in CSV format -->
  <!-- 12. Row Selection -->
  <!-- 13. Expandable Rows -->
</div>
