<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <app-searchable-table></app-searchable-table>
    </div>
  </div>
</div> -->

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <br />
      <h3>EzTable</h3>
      <h5 class="text-muted">Dynamic Table Component</h5>
      <hr />
    </div>
  </div>

  <!-- 1. Table-->
  <!-- 2. Custom Headers -->
  <div class="row">
    <div class="col-sm-12">
      <app-custom-row-checkbox-demo></app-custom-row-checkbox-demo>
      <app-intro></app-intro>
    </div>
  </div>
</div>
