.lead-no-gap {
  padding-top: 0px;
  margin-top: -18px;
}

.rounded-sm {
  border-radius: 10px;
}

h3.hot {
  color: #f4442e;
}

h3.hot2 {
  color: #fc9e4f;
}

.hot3 {
  color: #2b303a;
}

.p6 {
  padding-left: 48px;
  padding-right: 48px;
}

footer {
  border-top: 1px solid #a7a7a7;
  margin-left: -18px;
  margin-right: -18px;
}
