<div class="p-2 pt-4">
  <app-table-intro></app-table-intro>
  <div class="text-center">
    <h1 class="display-4">EzTable</h1>
    <p class="lead lead-no-gap">
      Your own smart data-table plugin for Angular with Bootstrap
    </p>
    <p class="lead">
      <a class="btn btn-success btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
  <br />
  <div class="p6">
    <hr />
    <div class="row pt-2">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <h3 class="hot">Smart Table</h3>
        <p class="hot3">
          Simply pass JSON array. It automatically figures out headers and
          dataset.
        </p>
        <button class="btn btn-warning">See Demo</button>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <h3 class="hot">Customizable</h3>
        <p class="hot3">
          Easily customize anything from table cell to column headers.
        </p>
        <button class="btn btn-warning">See Demo</button>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <h3 class="hot">Advance Features</h3>
        <p class="hot3">
          Get advance features such as sorting, quick search filters and
          checkboxes.
        </p>
        <button class="btn btn-warning">See Demo</button>
      </div>
    </div>
    <br />
    <hr />
  </div>
  <br />
  <br />
  <markdown ngPreserveWhitespaces>
    ```typescript const myProp: string = 'value'; ```
  </markdown>
  <markdown [src]="'assets/markdowns/test.md'"></markdown>
  <footer class="pt-3 text-center">
    MIT Licensed | Copyright © 2020-present | @codesnooker
  </footer>
</div>
